.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(90deg, rgba(152,202,255,.75) 10%, rgba(110,181,255,.75) 50%, rgba(70,161,255,.75) 90%), url(../../assets/FadedCode.png);
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 98vh);
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 98vh);

    .github-icon {
        height: 4rem;
        position: absolute;
        top: 3rem;
        right: 7rem;
    }

    .content {
        margin: 25vh auto 0 auto;
        justify-content: center;

        & > * {
            justify-content: center;
        }

        .name {
            font-size: 8rem;
            margin-bottom: 2rem;
            animation: zoomIn .8s ease-in;
        }

        .description {
            font-size: 2rem;
            text-align: center;
            opacity: 0;
            animation: dropDown .1s ease-out .9s forwards;
        }
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(.1);
    }

    70% {
        opacity: 1;
        transform: scale(1);
        transform: translateY(0);
    }

    80% {
        transform: translateY(0);
    }

    90% {
        transform: translateY(-4rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes dropDown {
    0% {
        opacity: 1;
        transform: translateY(-4rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}