@import '../../variables';

.projects-section {
    color: white;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-clip-path: polygon(0 6rem, 100% 0, 100% calc(100% - 6rem), 0 100%);
    clip-path: polygon(0 6rem, 100% 0, 100% calc(100% - 6rem), 0 100%);
    padding: 6rem 0;
    
    &-title {
        font-size: 5rem;
        text-align: center;
        max-width: 80%;
        margin: 4rem auto;
        padding-left: 2rem;
        border-left: $color-accent 1rem solid;
    }

    &-display {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 8rem;
        row-gap: 8rem;
    }
}

:root {
    @media screen and (max-width: 900px) {
        .projects-section {
            
            &-display {
                column-gap: 6rem;
                row-gap: 6rem;
            }
        }
    }

    @media screen and (max-width: 700px) {
        .projects-section {
            
            &-display {
                grid-template-columns: 1fr;
                column-gap: 0;
                row-gap: 4rem;
            }
        }
    }

    @media screen and (max-width: 600px) {
        .projects-section {
            
            &-title {
                font-size: 4rem;
            }
        }
    }

    @media screen and (max-width: 480px) {
        .projects-section {

            &-title {
                font-size: 3.6rem;
            }
        }
    }
}