@import '../../variables';

.projects-section {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
    -webkit-clip-path: polygon(0 6rem, 100% 0, 100% calc(100% - 6rem), 0 100%);
    clip-path: polygon(0 6rem, 100% 0, 100% calc(100% - 6rem), 0 100%);
    background-color: $color-primary;
    
    .title {
        color: $color-dark;
        font-size: 5rem;
        text-align: center;
        margin: auto;
        margin-top: 4rem;
        max-width: 80%;
        padding-left: 2rem;
        border-left: $color-accent 1rem solid;

        &:after {
            content:''; 
            width: 1rem; 
            height: 100%; 
            background: #42568f; 
            position: absolute; 
            left: -2rem;
            bottom: 0rem;
          }
    }

    .projects-display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

:root {
    @media screen and (max-width: 600px) {
        .projects-section {
            -webkit-clip-path: polygon(0 4rem, 100% 0, 100% calc(100% - 4rem), 0 100%);
            clip-path: polygon(0 4rem, 100% 0, 100% calc(100% - 4rem), 0 100%);
            padding: 4rem 0;

            .title {
                font-size: 4rem;
            }
        }
    }

    @media screen and (max-width: 480px) {
        .projects-section {

            .title {
                font-size: 3.6rem;
            }
        }
    }
}